@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

html::selection {
  background-color: aqua;
  color: black;
}

/* custom-scrollbar.css */
.scrollbar-custom {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #0a8e8a rgba(0, 0, 0, 0.1); /* Scrollbar and track color */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #0a8e8a;
  border-radius: 10px;
  border: 2px solid transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #0d9f96;
}

@media screen {
  .pdf-only {
    display: none;
  }
}

@media print {
  .pdf-only {
    display: block;
  }

  /* You can also hide other elements like buttons in the PDF view */
  .no-print {
    display: none;
  }
}

/* //footer wave  */
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 15px;
  aspect-ratio: 5;
  display: grid;
  animation: l39-0 1s infinite linear; 
}
.loader:before,
.loader:after {
  content: "";
  width: calc(140%/3);
  grid-area: 1/1;
  --_g: no-repeat radial-gradient(farthest-side,#000 94%,#0000);
  background:
    var(--_g) left,
    var(--_g) right;
  background-size: calc(300%/7) 100%;
  animation: l39-1 1s infinite linear; 
}
.loader:after {
  margin-left: auto;
  --s:-1;
}
@keyframes l39-0 {
  0%,30% {transform: rotate(0)}
  50%,100% {transform: rotate(.5turn)}
}
@keyframes l39-1 {
  30%,70% {transform:translate(calc(var(--s,1)*400%/14))}
}

/* button hover effect */
.hover-animation:hover span{
  width: 12rem;
  height: 12rem;
}

.hover-animation1:hover span{
  right: 1rem;
  width: 90%;
}

/* left right text animation  */
.left-right-animation{
  animation: slide 1s ease-in-out infinite alternate;
  position: relative;
  /* transition-duration: 3s; */
}

@keyframes slide {
  0%{
    left: 0rem;
  }
  100%{
    left: 1.7rem;
  }
}